<div class="search-bar__container">

    <div
        id="search-bar"
        class="search-bar__input-container"> 

        <input
            id="searchInput"
            class="search-bar__input-container__input"
            spellcheck="false"
            placeholder="Search..."
            aria-label='Search'
            autocomplete="off"
            name="searchInput"
            [placeholder]="placeholder"
            (keydown)="onKeyDown($event)"
            (focus)="onInputFocused($event)"
        />
    </div>
</div>