$rounded-full: 9999px;
$flat: 0px;

:host-context(.navigation-button) {
    button {
        .icon-container {
            padding: 5px;
            font-size: 7.5px;
        }
    }
}

.icon-wrapper {
    padding: 0px;
    margin: 0px;
    display: flex;
}

.button {
    // @extend .body-small;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    border-radius: $rounded-full;
    gap: var(--2, 8px);
    white-space: nowrap;
    color: var(--messenger-ui-white);

    // small
    &--extra-small {
        width: 2.2rem;
        height: 2.2rem;
        font-size: 14px;
        line-height: 21px; /* 150% */
        letter-spacing: -0.35px;
        padding: var(--2, 8px) var(--3, 12px);
    }

    // small
    &--small {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 14px;
        line-height: 21px; /* 150% */
        letter-spacing: -0.35px;
        padding: var(--2, 8px) var(--3, 12px);
    }

    // regular
    &--regular {
        font-size: 16px;
        line-height: 24px; /* 150% */
        letter-spacing: -0.4px;
        padding: var(--25, 10px) var(--5, 20px);
    }
    
    // large
    &--large {
        font-size: 18px;
        line-height: 27px; /* 150% */
        letter-spacing: -0.45px;
        padding: var(--35, 14px) var(--6, 24px);
    }

    &--text {
        color: var(--messenger-ui-cool-grey);

        &:hover {
            color: var(--messenger-ui-green);
        }
    }

    // primary
    &--primary {
        color: var(--messenger-ui-white);
        background: var(--messenger-ui-oxford-blue);

        &:hover {
            background: var(--messenger-ui-delft-blue);
        }
        &:focus {
            background: var(--messenger-ui-delft-blue);
        }
    }

    // primary alternative
    &--primary-alternative {
        color: var(--messenger-ui-green);
        background: var(--messenger-ui-persian-orange);

        &:hover {
            background: var(--messenger-ui-sandy-brown);
        }
        &:focus {
            background: var(--messenger-ui-sandy-brown);
        }
    }

    // outline
    &--outline {
        color: var(--messenger-ui-timberwolf);
        border: 1px solid var(--messenger-ui-timberwolf);

        &:hover {
            color: var(--messenger-ui-white);
            background: var(--messenger-ui-delft-blue);
        }
        &:focus {
            color: var(--messenger-ui-white);
            background: var(--messenger-ui-delft-blue);
        }   
    
    }

    // outline-alternative
    &--outline-alternative {
        border: 1px solid var(--messenger-ui-persian-orange);
        color: var(--messenger-ui-persian-orange);

        &:hover {
            background: var(--messenger-ui-anti-flash-white);
        }
        &:focus {
            background: var(--messenger-ui-anti-flash-white);
        }
        &:disabled {
            opacity: 0.5;
        }
    }

    // underline
    &--underline {
        border-bottom: 1px solid var(--messenger-ui-oxford-blue);
        border-radius: $flat;
        line-height: 0px;
        padding-left: 0px;
        padding-right: 0px;

        &:hover {
            color: var(--messenger-ui-delft-blue);
            border-bottom: 1px solid var(--messenger-ui-delft-blue);
        }
        &:focus {
            color: var(--messenger-ui-yinmn-blue);
            border-bottom: 1px solid var(--messenger-ui-yinmn-blue);
        }
    }

    // underline-alternative
    &--underline-alternative {
        border-bottom: 1px solid var(--messenger-ui-cool-grey);
        color: var(--messenger-ui-cool-grey);
        border-radius: $flat;
        line-height: 0px;
        padding-left: 0px;
        padding-right: 0px;

        &:hover {
            color: var(--messenger-ui-persian-orange);
            border-bottom: 1px solid var(--messenger-ui-persian-orange);
        }
        &:focus {
            color: var(--messenger-ui-sandy-brown);
            border-bottom: 1px solid var(--messenger-ui-sandy-brown);
        }
    }

    &--dropdown {
        color: var(--messenger-ui-white);
        white-space: nowrap; // added
        background: var(--messenger-ui-oxford-blue);
    }

    &.round {
        border-radius: $rounded-full;
        padding:var(--3, 12px);
    }

    &:disabled {
        border-radius: $rounded-full;
        background: var(--messenger-ui-platinum);
        color: var(--messenger-ui-timberwolf);
    }
}


.dropdown-container {
    width: 100%; 
    height: 100%; 
    border-radius: 9999px; 
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
    display: inline-flex;
}

.rotate-dropdown {
    animation: rotate 0.1s ease-in-out 0s;
    transform: rotate(180deg);
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(180deg); }
}