<div class="flex flex-col bg-gray-900 rounded-lg shadow-lg ">

    <div class="flex justify-between items-center mb-1 p-2 bg-gray-800 rounded-t-lg w-full">


        <app-dropdown 
            [searchable]="true"
            [options]="languages"
            (optionSelected)="selectLanguage($event)"
            (searchValue)="languageSearch($event)">

            <app-button
                buttonType="dropdown"
                iconType="translate"
                [title]="searchTerm.label"
                [isFullWidth]="true"
            />
        </app-dropdown>
    </div>
    
    <div 
        #chatContainer 
        class="chat-box overflow-y-scroll p-4 bg-gray-800 fade-in">

        <ul>

            @for (message of messages; track $index) {

                <div 
                    class="chat-container flex mb-2"
                    [ngClass]="{
                        'justify-end': message.sender.id === this.user.value.user.id,
                        'justify-start': message.sender.id !== this.user.value.user.id
                    }">
                    
                    <div 
                        class="message max-w-xs p-3 rounded-lg text-white"
                        [ngClass]="{
                            'bg-green-600': message.sender.id === this.user.value.user.id,
                            'bg-gray-700': message.sender.id !== this.user.value.user.id
                        }">
                        <p class="whitespace-pre-line">{{ message.message }}</p>
                        <p 
                            class="text-xs mt-1 text-right"
                            [ngClass]="{
                                'text-green-100': message.sender.id === this.user.value.user.id,
                                'text-gray-300': message.sender.id !== this.user.value.user.id
                        }">
                            {{ message.createdAt }}
                        </p>
                    </div>
                </div>
            }
        </ul>
    </div>

    <div class="p-2 rounded-b-lg bg-gray-800">
        <app-chat-bar (messageValue)="sendMessage($event)"></app-chat-bar>
    </div>
</div>
