<div class="flex flex-col h-96">
    <div class="h-4/5 border-2 border-gray-400 overflow-scroll">

        <ul>

            @for (message of messages; track $index) {

                <div 
                    class="chat-container">
                    
                    <p class="message">{{ message.message }}</p>
                    <p class="">{{ message.createdAt }}</p>
                </div>
            }
        </ul>
    </div>

    <div>
        <app-chat-bar (messageValue)="sendMessage($event)"></app-chat-bar>
    </div>
</div>