<div class="friend-request-card-container">

    @if (friendRequest.receiver.friendRequestReceiverId === user.id) {
        
        <app-avatar [initials]="friendRequest.receiver.requestSentByUsername[0]"/>
    } @else {
        
        <app-avatar [initials]="friendRequest.receiver.receiverUsername[0]"/>
    }

    <div>

        @if (friendRequest.receiver.friendRequestReceiverId === user.id) {

            <h3>
            
                {{ friendRequest.receiver.requestSentByUsername }}
            </h3>

        } @else {

            <h3>
            
                {{ friendRequest.receiver.receiverUsername }}
            </h3>
        }

    </div>

    <div class="flex flex-row items-center">


        @if (friendRequest.receiver.friendRequestReceiverId === user.id) {

            <div class="mr-1">

                <app-button 
                    iconType="check" 
                    buttonSize="small" 
                    buttonType="primary-round"
                    (click)="respondToFriendRequest(true)"/>
            </div>
    
            <div class="ml-1">

                <app-button
                    iconType="close" 
                    buttonSize="small" 
                    buttonType="primary-round"
                    (click)="respondToFriendRequest(false)"/>  
            </div>
        } @else {

            <div>

                <h3> Friend request sent </h3>
            </div>
        }
    </div>
</div>