<div class="friend-request-card-container">

    <app-avatar [initials]="friendRequest.receiver.username[0]"></app-avatar>

    <div>

        <h3>
            {{ friendRequest.receiver.username }}
        </h3>
    </div>

    <div class="flex flex-row items-center">


        @if (friendRequest.receiver.id === user.id) {

            <div class="mr-1">
                <app-button 
                    iconType="check" 
                    buttonSize="small" 
                    buttonType="primary-round"
                    (click)="repsondeToFriendRequest(true)"/>
            </div>
    
            <div class="ml-1">
                <app-button 
                    iconType="close" 
                    buttonSize="small" 
                    buttonType="primary-round"
                    (click)="repsondeToFriendRequest(false)"/>  
            </div>
        } @else {

            <div>

                <h3> Friend request sent </h3>
            </div>
        }

    </div>
</div>