:host {
    display: flex;
    justify-content: center;
}

.material-symbols-outlined {
    user-select: none;
}

.filled {
    font-variation-settings:
    'FILL' 1,
}

.circle-fill {
    background-color: var(--messenger-ui-cool-grey);
    color: var(--messenger-ui-oxford-blue);
    padding: 0.1rem;
    border-radius: 100%;
}

.orange {
    color: var(--messenger-ui-persian-orange);
}

.red {
    color: var(--messenger-ui-imperial-red);
}