.initials-btn {
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 99999px;
    background-color: var(--messenger-ui-platinum);
    color: var(--messenger-ui-oxford-blue);
}

:not(.is-clickable) {
    cursor: default;
}

.status-dot {
    position: absolute;
    top: 0px;
    left: 28px;
    width: 12px;
    height: 12px;
    background: var(--messenger-ui-green);
    border-radius: 99px;
    border: 2px solid var(--messenger-ui-white);
}