<div class="fade-in">

    <!-- Account Details Section -->
    <div class="bg-gray-800 shadow-md rounded-lg p-6">

        <h2 class="text-3xl font-bold text-white mb-6">
            Account Details
        </h2>

        <ul class="text-lg text-gray-300 space-y-3">

            <li>

                <strong>

                    ID:
                </strong>
                {{ user.value.user.id }}
            </li>

            <li>

                <strong>

                    Email:
                </strong>
                {{ user.value.user.email }}
            </li>

            <li>

                <strong>

                    Username:
                </strong>

                {{ user.value.user.username }}
            </li>
        </ul>

        <!-- <div class="mt-5 mr-5">

            <app-button title="Update Account" buttonType="outline" (click)="onUpdateAccount()" />
        </div> -->
    </div>



    <!-- Main Content Section -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-4">

        <div class="bg-gray-800 shadow-md rounded-lg p-6">

            <h2 class="text-3xl font-bold text-white mb-6">

                Friends
            </h2>

            <ul class="space-y-4">

                @for (friend of friends; track $index) {

                    <li class="cursor-pointer shadow-sm">

                        <app-friend [friendArrayItem]="friend" (click)="toChatRoom(friend.conversations.id)" />
                    </li>
                }
            </ul>
        </div>
        <!-- Pending Friend Requests Section -->
        <div class="bg-gray-800 shadow-md rounded-lg p-6">

            <h2 class="text-3xl font-bold text-white mb-6">

                Pending Friend Request
            </h2>

            <ul class="space-y-4">

                @for (friend of receivedFriendRequests; track $index) {

                    <li class="bg-gray-700 p-2 rounded-md shadow-sm">

                        <app-friend-request-card
                            [friendRequest]="friend"
                            [isLoading]="isLoadingFriendRequestResponse"
                            (requestRespond)="respondToFriendRequest($event)" 
                        />
                    </li>
                }
            </ul>
        </div>

        <div class="bg-gray-800 shadow-md rounded-lg p-6">

            <h2 class="text-3xl font-bold text-white mb-6">

                Add new friends
            </h2>

            <ul class="space-y-4">

                @for (user of usersThatHaveNotBeenFriended; track $index) {

                    <li>

                        <app-sidebar-add-friend
                            [user]="user"
                            (addFriendByUserId)="addFriend($event)"
                        />
                    </li>
                }
            </ul>
        </div>
    </div>
</div>