@import '../scss/breakpoints';

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.app-content-container {
    margin: 2rem;

    @include respond-to("small") {
        margin: 2rem 1rem 0rem 1rem;
    }
}