.friend-container {
    margin: 5px;
    display: flex;
    flex-direction: column;
    color: var(--sb-timberwolf);
    padding: 10px;
    border: 0.5px solid var(--sb-timberwolf);
    border-radius: 10px;
}

.title-truncation {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}