// @import 'breakpoints';

#main-content {
    margin-top: 65px;
    width: 100%;
}

.temp {
    margin-right: 250px;

}

.sidebar-content-wrapper {
    display: flex;
}

.top-info-bar-showing {
    margin-top: 65px;
}