:root {
    --messenger-ui-white: #FFFFFF;
    // We can not use var() inside rgba so please remember to change this color if we ever change our white
    --messenger-ui-white-opacity-06: #ffffff99;
    --messenger-ui-orange: #FF8812;
    --messenger-ui-light-grey: #EDEDED;
    --messenger-ui-grey: #D8D8D8;
    --messenger-ui-mid-dark-grey: #A9A9A9;
    --messenger-ui-mid-grey: #333333;
    --messenger-ui-mid-grey-opacity-06: #33333399;
    --messenger-ui-dark-grey: #212529;
    --messenger-ui-red: #E23636;
    --messenger-ui-green: #109632;
    --messenger-ui-blue: #007bff;
    --messenger-ui-yellow: #ffb300;

    // UI Update 2023 colors 
    --messenger-ui-oxford-blue: #0F1C30;
    --messenger-ui-delft-blue: #2D364C;
    --messenger-ui-yinmn-blue: #3D4966;
    --messenger-ui-cool-grey: #999BA6;
    --messenger-ui-custom-white: #FDFCFD;
    --messenger-ui-anti-flash-white: #F2F3F7;
    --messenger-ui-platinum: #E2E2E2;
    --messenger-ui-timberwolf: #D1D2D5;
    --messenger-ui-overlay-grey: #CFCFCF; //20%
    --messenger-ui-persian-orange: #EB8E51;
    --messenger-ui-sandy-brown: #F0AA7D;
    --messenger-ui-apricot: #F5C7A8;
    --messenger-ui-imperial-red: #F05252;
    --messenger-ui-snow: #FDF2F2;
    --messenger-ui-black: #000;
}