@import 'breakpoints';
@import 'colors';

#toast-container {

    &.toast-bottom-right {
        bottom: 80px;
    }

    @include respond-to("small") {
        width: 100%;
        right: 0;
        bottom: -5px;
        padding: 20px;
    }

    &>.ngx-toastr {
        @include respond-to("small") {
            width: 100%;
        }
        background-color: var(--messenger-ui-white);
        color: var(--messenger-ui-cool-grey);
        transition: box-shadow .5s;
        border-radius: .25rem;
        &:hover {
            box-shadow: 0 0 8px var(--messenger-ui-cool-grey);
        }
        &.toast-error {
            background-color: var(--messenger-ui-red);
            color: var(--messenger-ui-white);
        }

        &.toast-success {
            background-color: var(--messenger-ui-green);
            color: var(--messenger-ui-white);
        }
    
        &.toast-info {
            background-color: var(--messenger-ui-blue);
            color: var(--messenger-ui-white);
        }
        &.toast-warning {
            background-color: var(--messenger-ui-yellow);
            color: var(--messenger-ui-white);
        }
    }
}