.friend-request-card-container {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: var(--sb-timberwolf);
    border: solid;
    border-color: var(--sb-timberwolf);
    border-radius: 10px;
}   