.friend-request-card-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF9F6;
    padding: 15px;
    border: none;
    border-radius: 10px;
}